<link rel="stylesheet" href="/static/pages/index.css" />
<h1 class="index-header">Список основных гайдов для тебя!</h1>
<div class="guide-card-wrapper">
{{#each posts}}
    <div class="guide-card glassmorph">
        <h2 class="guide-title">{{this.title}}</h2>
        <p class="guide-description">
            {{this.description}}
        </p>
        <a href="/post/{{this.id}}">
            <button>Читать</button>
        </a>
{{#if authored}}
        <div class="admin">
            <a href="/post/edit/{{this.id}}" title="Скачать"><button>👇</button></a>
            <a href="/post/edit/{{this.id}}" title="Удалить"><button>🗑️</button></a>
        </div>
{{/if}}
    </div>
{{/each}}
</div>


{{#if authored}}<a href="/logout/">Выход</a>{{/if}}